# These can also be created from the command line using environment variables
#
# export DATABASE_URI='postgresql+psycopg://<place-url-to-database-here>'
# export POSTGRES_PASSWORD='<place-password-here>'
#
# kubectl create secret generic postgres-creds \
#     --from-literal=password=$POSTGRES_PASSWORD
#     --from-literal=database_uri=$DATABASE_URI
#
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-creds
  namespace: wishlists-ns
type: Opaque
data:
  SECRET_KEY: c3VwM3ItczNjcjN0
  DATABASE_URI: cG9zdGdyZXNxbCtwc3ljb3BnOi8vcG9zdGdyZXM6cG9zdGdyZXNAcG9zdGdyZXM6NTQzMi9wb3N0Z3Jlcw==
